<% @sports.each do |sport| %>
  <div class="sport-index" style="background-image: url('<%= sport.image %>')">
    <h5><%= link_to sport.name, sport_path(sport.id), class: 'sport-link-index', data: sport.id %></h5>   
  </div>
<% end %>

<div class="greeting">
  <h2>Sportify</h2>
  <h4>connecting you to sports communities nearby</h4>
</div>