
body {
  background-color: rgb(243, 255, 226);
  nav {
    height: 80px;
    background-color: rgb(22,149,163);
    line-height: 80px;
    border-bottom: 4px solid rgb(34,83,120);
    font-family: 'Montserrat', sans-serif;
    li {
      list-style: none;
      display: inline-block;
      margin-left: 30px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }  
}

.contents {
  text-align: center;
  margin: 20px;
}